* {
    margin: 0;
    padding: 0;
}

/* 
:root {
    font-size: 10px;
} */

body {
    background-color: #999;
    min-height: 100vh;
    width: 100vw;
    font-family: 'Open Sans Condensed', sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

/* pasek nawigacji */
/* githubico */
i.fab {
    margin-left: 20px;
    color: #fff;
    cursor: pointer;
}

i.fab:hover {
    color: #9edf9e;
}

nav {
    position: fixed;
    display: flex;
    align-items: center;
}

#desktop {
    background-color: rgba(0, 0, 0, .5);
    width: 100vw;
    height: 12vh;
    top: 0;
    left: 0;
    z-index: 3;
    text-transform: uppercase;
}

.desktop .active {
    display: none;
}

#mobile {
    background-color: rgba(0, 0, 0, .5);
    width: 100vw;
    height: 0;
    top: 12vh;
    left: 0;
    transition: .5;
}

/* nav button */


.buttonNav {
    width: 35px;
    height: 35px;
    z-index: 10;
    position: fixed;
    top: 30px;
    right: 20px;
    display: none;
    transition: transform .2s linear;
}

span.button {
    background-color: #fff;
    width: 100%;
    height: 5px;
    position: absolute;
    transition: top .3s linear, transform .3s .3s linear;
    border-radius: 5px;
}

.buttonNav.active {
    transform: rotate(180deg);
}

.buttonNav span:nth-of-type(1) {
    top: 0;
    left: 0;
}

.buttonNav span:nth-of-type(1).active {
    top: 50%;
    transform: rotate(45deg);
}


.buttonNav span:nth-of-type(2) {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.buttonNav span:nth-of-type(2).active {
    opacity: 0;
}


.buttonNav span:nth-of-type(3) {
    top: 100%;
    left: 0;
    transform: translateY(-100%);
}

.buttonNav span:nth-of-type(3).active {
    top: 50%;
    transform: rotate(-45deg);
}

/* #mobile.active {
    display: block;
} */

/* nav#mobile {
    display: flex;
    align-items: center;
} */
li>a:hover {
    color: #9edf9e;

}

nav#mobile ul {
    position: absolute;
    /* top: 12vh; */
    display: none;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}


ul {
    display: flex;
    width: 100%;
    justify-content: space-around;


}



li {
    list-style-type: none;
}

ul.active li {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

a {
    text-decoration: none;
    font-size: 27px;
    color: #fff;
}



#mobile {
    height: 0;
    transition: .5s;
    z-index: 999;
}

#mobile.active {
    height: 40vh;
}




/* nav---end */
/* header -------------------------------------START--------------- */
span.title {
    color: #000;
    animation: color linear 41s infinite;
    position: relative;


}

h1.title {
    color: #ffffff;
}

.mainTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .4s;
    opacity: 1;
    overflow: hidden;
}

.mainTitle.active {
    opacity: 0;
}

header {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    background-image: url(img/25409-galaxy_space-cosmos-atmosphere-nebula-astronomy-3840x2160.jpg);
    background-size: cover;
    background-position: center center;
}

.arrows {
    position: absolute;
    bottom: 50px;
    text-align: center;
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    color: #fff;
    overflow: hidden;
    cursor: pointer;
}

.arrows i {
    position: relative;
    top: -70px;
    opacity: 0;
    animation: arrow 2s linear infinite;

}

.backToTop {
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    opacity: 0;
    transition: .4s;
    border-radius: 5px;
    z-index: 100;
}

.backToTop:hover {
    cursor: pointer;
}

/* header-end -----------------------------------------------------END------------------*/
/* mainbaner + animacje*/
.sliderWrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
}

/* 
span {
    color: rgb(110, 110, 110)
} */

h1,
h2 {
    text-transform: uppercase;
    font-weight: 200;
    margin-top: 10px;
}

h1 {
    font-size: 4rem;
    letter-spacing: 1px;
}

h2 {
    font-size: 2rem;
}

.signature {
    position: absolute;
    right: 0%;
    top: 15%;
    text-align: center;
    width: 60%;
    text-transform: lowercase;
    animation: blink 4s linear infinite;
}

.color {
    height: 35%;
    position: absolute;
    bottom: 0;
    right: -7%;
    animation: blink 4s linear infinite;
    transform: translate(0);

}

.mono {
    height: 135%;
    position: absolute;
    bottom: 0;
    right: -100%;
    z-index: -1;
    opacity: 0.3;
    animation: mono 4s linear infinite;
}

/* --------------------------------animations-------------------------------------- */
@keyframes arrow {

    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    100% {
        top: 150px;
        opacity: 0;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
        transform: translate(0);
    }

    8% {
        opacity: 0;
    }

    14% {
        opacity: 1;
    }

    86% {
        opacity: 1;
    }

    92% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        transform: translate(-10%);
    }
}

@keyframes mono {
    0% {
        transform: translateX(0) scale(1);
        opacity: 0;
    }

    8% {
        opacity: 0;
    }

    13% {
        opacity: .2;
    }

    87% {
        opacity: .2;
    }

    92% {
        opacity: 0
    }

    100% {
        transform: translateX(5%) scale(1.1);
        opacity: 0;
    }
}

@keyframes color {
    0% {
        color: #fff;
        left: 0%;
    }

    25% {
        color: black;
    }

    50% {
        color: pink;
        left: 20%;
    }

    75% {
        color: darkblue;

    }

    100% {
        color: white;
        left: 0%;
    }
}

/* --------------------------------------mediaQueries--------------------------- */

@media (orientation:landscape) {
    .signature {
        top: 15%;
        right: auto;
        left: 5%;
    }


    .color {
        height: 65%;
        right: 0;
    }

    .mono {
        right: 30%;
        height: 120%
    }
}

@media (min-width:1024px) {
    .signature {
        left: -5%;
        right: auto;
        width: 100%;
        text-align: right;
    }

    h1 {
        font-size: 5rem;
    }

    .color {
        height: 45%;

    }

    .mono {
        height: 140%;
    }
}

@media (max-width:880px) {
    header {
        background-image: url(img/forMobile.jpg);
    }

    .buttonNav {
        display: block;
    }

    nav#desktop ul li {
        display: none;
    }

    .mobile {
        display: block;
    }

    nav#mobile ul.active {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    nav#mobile ul.active a {
        letter-spacing: 2px;
        font-size: 35px;
        text-transform: uppercase;
    }

    #mobile.active {
        height: 35vh;

    }

    i.fab {
        margin-left: auto;
        position: absolute;
        left: 5vw;
        font-size: 50px;
        top: 30px;

    }
}

@media (max-height:780px) {
    #mobile.active {
        height: 65vh;

    }

    nav#desktop {
        height: 20vh;
    }

    nav#mobile {
        top: 20vh;
    }


}

@media (orientation:landscape) and (max-width:900px) {
    #mobile.active {
        height: 70vh;

    }

    nav#desktop {
        height: 25vh;
    }

    nav#mobile {
        top: 25vh;
    }

    nav#mobile ul {
        height: 70vh;
    }
}